<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>

    <link rel="stylesheet" href="idea.css">
    <link rel="stylesheet" href="style.css">

    <script src="highlight.js" type="text/javascript"></script>
    <script src="groovy.js" type="text/javascript"></script>
    <script src="xml.js" type="text/javascript"></script>

</head>
<body onload="hljs.initHighlighting()">
${content}

<hr>
<% if (previous) { %>
<a href="${previous.title}.html">&#171; ${previous.title}</a> |
<% } %>
<a href="index.html">Table of Content</a>
<% if (next) { %> |
<a href="${next.title}.html">${next.title} &#187;</a>
<% } %>
</body>
</html>